In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data-filtered.csv')

In [3]:
df['instr'].unique(), df['class'].unique()

(array([1, 2, 3]), array([ 2,  7, 10,  1,  6, 11, 13,  3,  4,  5,  8,  9, 12]))

In [7]:
df['nb.repeat'].unique(), df['attendance'].unique(), df['difficulty'].unique()

(array([1, 2, 3]), array([1, 2, 3, 0, 4]), array([3, 4, 2, 5, 1]))

In [8]:
df.groupby('instr').agg({'class': ['unique', 'count']})

                         class
                        unique count
instr
1                   [2, 7, 10]   316
2               [1, 6, 11, 13]   682
3      [3, 4, 5, 8, 9, 12, 13]  1837